<h1>{{ nombre }}</h1>

<dl>
    <td>Nombre: </td>
    <dd>{{ nombre }}</dd>

    <td>Edad: </td>
    <dd>{{ edad }}</dd>

    <td>Función: </td>
    <dd>{{ obtenerFullData() }}</dd>

    <td>nombreCapitalizado: </td>
    <dd>{{ nombreCapitalizado }}</dd>
</dl>

<!--(click): one way data binding - desde ts se modifica html-->
<!--two way data binding existe pero se evita en lo posible-->
<button (click)="cambiarNombre()">
    Cambiar Héroe
</button>

<button (click)="cambiarEdad()">
    Cambiar edad
</button>