<p>Listado de Héroes</p>
<!--directivas estructurales me permiten manipular el DOM-->
<ul>
    <li *ngFor="let heroe of heroes; let i = index;">
        {{ i + 1 }} - {{ heroe }}
    </li>
</ul>
<!--si no se cumple la condición el componente no se renderiza-->
<div *ngIf="heroeBorrado; else noBorrado">
    <h3>Héroe Borrado: <small>{{ heroeBorrado }}</small></h3>
</div>
<!--#noBorrado: referencia local-->
<ng-template #noBorrado>
    <h3>No ha borrado nada</h3>
</ng-template>


<button (click)="borrarHeroe();">
    Borrar Héroe
</button>